# Installation source for Duo Security's Unix SSH integration
#
# {{ ansible_managed }}
#

# Ubuntu 16.04
deb https://pkg.duosecurity.com/Ubuntu xenial main

# Ubuntu 18.04
deb [arch=amd64] https://pkg.duosecurity.com/Ubuntu bionic main

# Ubuntu 20.04
deb [arch=amd64] https://pkg.duosecurity.com/Ubuntu focal main
